<!-- si queremos obtener el valor de una propiedad
llamada name utilizaríamos params[:name]. Modifica
app/views/pages/home.html.erb para que quede de la siguiente forma:-->
<!--<h1> Hola <%= params[:name] %> </h1>-->
<h1> Hola <%= @name%> </h1>
